.myHeader{
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-top: 300px;
	margin-bottom: auto;
	font-size: 60px;
	font-weight: bold;
	font-family: Book Antiqua;
	
}	

.myForm {
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: auto;
}
button{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: 30px;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #070808), color-stop(1, #296b75));
	background:-moz-linear-gradient(top, #070808 5%, #296b75 100%);
	background:-webkit-linear-gradient(top, #070808 5%, #296b75 100%);
	background:-o-linear-gradient(top, #070808 5%, #296b75 100%);
	background:-ms-linear-gradient(top, #070808 5%, #296b75 100%);
	background:linear-gradient(to bottom, #070808 5%, #296b75 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#070808', endColorstr='#296b75',GradientType=0);
	background-color:#070808;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #296b75), color-stop(1, #070808));
	background:-moz-linear-gradient(top, #296b75 5%, #070808 100%);
	background:-webkit-linear-gradient(top, #296b75 5%, #070808 100%);
	background:-o-linear-gradient(top, #296b75 5%, #070808 100%);
	background:-ms-linear-gradient(top, #296b75 5%, #070808 100%);
	background:linear-gradient(to bottom, #296b75 5%, #070808 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#296b75', endColorstr='#070808',GradientType=0);
	background-color:#296b75;
}
.myButton:active {
	position:relative;
	top:1px;
}